*,
::before,
::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#displayClasses {
    height: 100%;
    width: 35%;
}

#displayRaces {
    height: 100%;
    width: 60%;
}

#raceList,
#classList {
    width: 30%;
    height: 100%;
}

#raceInfo,
#classInfo {
    width: 50%;
    height: 100%;
}

.left {
    float: left;
    margin: 0px 5px;
}

.right {
    float: left;
    margin: 0px 5px;
}

.clickable:hover {
    cursor: pointer;
}